* {
  padding: 0;
  margin: 0;
  outline: 0;

  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
}

body {
  font-size: 14px;
  font-family: sans-serif;
  background-color: #efefef;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
